@model IEnumerable<Workshop.Models.Article>

@foreach (var item in Model)
{
    <div class="span8">
        <h4>
            @Html.ActionLink(item.Subject,"Details",new {controller = "Article",id = item.ID})
        </h4>
        <p>
            @item.Summary
        </p>
        <p class="pull-right">
            <i class="icon-calendar"></i> @Html.DisplayFor(a => item.CreateDate)
        </p>
    </div>
}