@model IEnumerable<Workshop.Models.Article>

@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>CashWu - CMS</h1>
    <br />
    <p class="lead">
       Hello !!
    </p>
    <p><a href="http://www.cashwu.com" target="_blank" class="btn btn-primary btn-large">前往 CashWu 官網</a></p>
</div>

<!-- 測試ddl -->
@Html.DropDownList("ArticleCategories")


<!-- 最新文章 -->
<fieldset>
    <legend>最新文章</legend>
    <div class="row">
        @Html.Partial("_News")
    </div>
</fieldset>
