<div id="datetimepicker_@(ViewData.TemplateInfo.HtmlFieldPrefix)" class="input-append date">
    <input type="text" id="@(ViewData.TemplateInfo.HtmlFieldPrefix)" name="@(ViewData.TemplateInfo.HtmlFieldPrefix)" data-format="yyyy/MM/dd hh:mm:ss" value="@(ViewData.TemplateInfo.FormattedModelValue)"></input>
    <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
</div>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker_@(ViewData.TemplateInfo.HtmlFieldPrefix)').datetimepicker({
            language: 'tw'
        });
    });
</script>
