<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="Default.html">首頁</a></li>
        <li><a href="HotArticles.html">熱門文章</a></li>
        <li><a href="Articles.html">文章列表</a></li>
        <li>
            <form class="form-search" method="GET" action="Search.html">
                <div class="input-append">
                    <input type="text" class="input-small search-query" name="q" placeholder="搜尋關鍵字..." />
                    <button type="submit" class="btn"><i class="icon icon-search"></i></button>
                </div>
            </form>
        </li>
    </ul>
    <h3 class="muted">twMVC Workshop#1</h3>
</div>
